<main>
    <section style="background-image: url(assets/contactus/images/bg-contactus.jpg);"
        class="section-30 section-sm-40 section-md-66 section-lg-bottom-90 bg-gray-dark page-title-wrap">
        <div class="shell">
            <div class="page-title">

                <div class="page-title-inner">
                    <div class="page-title-left">
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                    </div>
                    <div class="page-title-center">
                        <h2>Contact Us</h2>
                    </div>
                    <div class="page-title-right">
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                        <h2>Contact Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-60 section-sm-top-90 section-sm-bottom-100">
        <div class="shell">
            <div class="range range-md-justify">
                <div class="cell-md-5 cell-lg-4">
                    <div class="inset-md-right-15 inset-lg-right-0">
                        <div class="range">
                            <div class="cell-sm-10 cell-md-12">
                                <h3>How to Find Us</h3>
                                <p class="offset-sm-top-40 text-secondary">
                                    If you have any questions, just fill in the contact form, and we will answer you
                                    shortly. If you are living nearby, come visit TaxExpert at one of our comfortable
                                    offices.

                                </p>
                            </div>
                            <div class="cell-sm-6 cell-md-12 offset-top-30 offset-sm-top-45">
                                <h5>Headquarters</h5>
                                <address class="contact-info">
                                    <p class="text-uppercase">POLICE LINE BAZAR
                                        SRIPALLY
                                        BURDWAN
                                    </p>
                                    <dl class="list-terms-inline">
                                        <dt>Telephone</dt>
                                        <dd><a href="callto:#" class="link-secondary">8001194102</a></dd>
                                    </dl>
                                    <dl class="list-terms-inline">
                                        <dt>E-mail</dt>
                                        <dd><a href="mailto:#" class="link-primary">mail@anandamelaretail.com</a></dd>
                                    </dl>
                                </address>
                            </div>
                            <div class="cell-sm-6 cell-md-12 offset-top-30 offset-sm-top-45 offset-md-top-40">
                                <h5>Support Centre</h5>
                                <address class="contact-info">
                                    <p class="text-uppercase">POLICE LINE BAZAR
                                        SRIPALLY
                                        BURDWAN
                                    </p>
                                    <dl class="list-terms-inline">
                                        <dt>Telephone</dt>
                                        <dd><a href="callto:#" class="link-secondary">8001194102</a></dd>
                                    </dl>
                                    <dl class="list-terms-inline">
                                        <dt>E-mail</dt>
                                        <dd><a href="mailto:#" class="link-primary">mail@anandamelaretail.com</a></dd>
                                    </dl>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell-md-7 cell-lg-6 offset-top-50 offset-md-top-0">
                    <h3>Get in Touch</h3>
                    <form data-form-output="form-output-global" data-form-type="contact" method="post"
                        action="bat/rd-mailform.php" class="rd-mailform form-modern offset-top-30"
                        novalidate="novalidate">
                        <div class="range">
                            <div class="cell-sm-6">
                                <div class="form-group">
                                    <input id="contact-name" type="text" name="name" data-constraints="@Required"
                                        class="form-control form-control-has-validation"><span
                                        class="form-validation"></span>
                                    <label for="contact-name" class="form-label rd-input-label">Name</label>
                                </div>
                            </div>
                            <div class="cell-sm-6 offset-top-30 offset-sm-top-0">
                                <div class="form-group">
                                    <input id="contact-us-email" type="email" name="email"
                                        data-constraints="@Email @Required"
                                        class="form-control form-control-has-validation"><span
                                        class="form-validation"></span>
                                    <label for="contact-us-email" class="form-label rd-input-label">Email</label>
                                </div>
                            </div>
                            <div style="margin-top: 10px;margin-bottom: 10px;" class="cell-xs-12 offset-top-30">
                                <div class="form-group">
                                    <div class="textarea-lined-wrap">
                                        <textarea style="background-color: white;" id="contact-message" name="message"
                                            data-constraints="@Required"
                                            class="form-control form-control-has-validation"></textarea><span
                                            class="form-validation"></span>
                                        <label for="contact-message" class="form-label rd-input-label">Message</label>
                                    </div>
                                </div>
                            </div>
                            <div class="cell-xs-8 offset-top-30 offset-xs-top-30 offset-sm-top-60">
                                <button type="submit" class="btn btn-primary btn-block">Send</button>
                            </div>
                            <div class="cell-xs-4 offset-top-22 offset-xs-top-30 offset-sm-top-60">
                                <button type="reset" class="btn btn-silver-outline btn-block">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>