<div>
    <h1>Privacy Policy for Anandamela E-commerce Website:</h1>
    <p>

        At Anandamela, we are committed to protecting the privacy and security of our customers. This Privacy Policy
        outlines how we collect, use, disclose, and safeguard the personal information provided to us through our
        e-commerce
        website (http://anandamelaretail.com/) and associated services. By accessing or using our website, you agree to
        the
        terms of this Privacy Policy.
        <br><br>
        1. Collection of Personal Information:
        We may collect personal information, including but not limited to, name, billing address, phone number, and
        email
        address when you place an order or create an account on our website. This information is necessary to process
        orders, provide customer support, and improve your shopping experience.
        <br><br>
        2. Use of Personal Information:
        We may use the personal information you provide to:
        - Process and fulfill your orders and transactions.
        - Communicate with you regarding your orders, updates, and promotions.
        - Respond to your inquiries, requests, or customer service-related matters.
        - Customize and enhance your browsing and shopping experience on our website.
        - Analyze trends, usage patterns, and user behavior to improve our website and services.
        - Comply with legal obligations, protect our rights, and enforce our policies.
        <br><br>
        3. Protection of Personal Information:
        We implement reasonable security measures to protect the personal information provided to us. However, please
        note
        that no data transmission over the internet or electronic storage method is completely secure. We strive to
        protect
        your personal information but cannot guarantee absolute security.
        <br><br>
        4. Disclosure of Personal Information:
        We do not sell, trade, or rent your personal information to third parties for their marketing purposes. However,
        we
        may share your information with trusted service providers who assist us in operating our business and providing
        services to you. These service providers are bound by confidentiality agreements and are only authorized to use
        your
        information as necessary to perform their designated tasks.
        <br><br>
        5. Third-Party Websites:
        Our website may contain links to third-party websites or services. We are not responsible for the privacy
        practices
        or content of these websites. We encourage you to review their respective privacy policies before providing any
        personal information.
        <br><br>
        6. Cookies and Tracking Technologies:
        We may use cookies and similar tracking technologies to enhance your browsing experience, analyze website usage,
        and
        personalize content and advertisements. You can modify your browser settings to reject cookies, but this may
        affect
        certain functionalities of our website.
        <br><br>
        7. Updates to the Privacy Policy:
        We reserve the right to update this Privacy Policy as necessary. Any changes will be posted on our website with
        a
        revised effective date. We encourage you to review the Privacy Policy periodically to stay informed about how we
        handle your personal information.
        <br><br>
        If you have any questions or concerns regarding our Privacy Policy or the handling of your personal information,
        please contact us at mail@anandamelaretail.com or call us at 080011 94102.
        <br><br>
        Effective Date: 11 july, 2023
    </p>
</div>