<footer _ngcontent-dag-c150="">
  <div _ngcontent-dag-c150="" class="feature-nav"><ion-row _ngcontent-dag-c150="" class="md hydrated"><ion-col
              _ngcontent-dag-c150="" size="12" size-md="4" ng-reflect-size="12" class="md hydrated"
              style="flex: 0 0 calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);">
              <div _ngcontent-dag-c150="" class="footer-card line">
                  <div _ngcontent-dag-c150="" class="round-icon-footer"><img _ngcontent-dag-c150=""
                          src="assets/footer/images/ic_twotone-local-offer.png" style="height: 50%;"></div>
                  <div _ngcontent-dag-c150="" class="right-feature">
                      <h5 _ngcontent-dag-c150="" style="color: white;">Express Delivery</h5>
                      <h6 _ngcontent-dag-c150="" style="color: white; font-size: 12px;
                      color: white;
                      margin: -6px 0 0 0;">Shop Anywhere</h6>
                  </div>
              </div>
          </ion-col><ion-col _ngcontent-dag-c150="" size="12" size-md="4" ng-reflect-size="12" class="md hydrated"
              style="flex: 0 0 calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);">
              <div _ngcontent-dag-c150="" class="footer-card line">
                  <div _ngcontent-dag-c150="" class="round-icon-footer"><img _ngcontent-dag-c150=""
                          src="assets/footer/images/ic_twotone-store.png" style="height: 50%;"></div>
                  <div _ngcontent-dag-c150="" class="right-feature">
                      <h5 _ngcontent-dag-c150="" style="color: white;">Best offers</h5>
                      <h6 _ngcontent-dag-c150="" style="color: white; font-size: 12px;
                      color: white;
                      margin: -6px 0 0 0;">Lesser price</h6>
                  </div>
              </div>
          </ion-col><ion-col _ngcontent-dag-c150="" size="12" size-md="4" ng-reflect-size="12" class="md hydrated"
              style="flex: 0 0 calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%); max-width: calc(calc(4 / var(--ion-grid-columns, 12)) * 100%);">
              <div _ngcontent-dag-c150="" class="footer-card">
                  <div _ngcontent-dag-c150="" class="round-icon-footer"><img _ngcontent-dag-c150=""
                          src="assets/footer/images/solar_delivery-bold-duotone.png" style="height: 50%;"></div>
                  <div _ngcontent-dag-c150="" class="right-feature">
                      <h5 _ngcontent-dag-c150="" style="color: white;">Offline Store</h5>
                      <h6 _ngcontent-dag-c150="" style="color: white; font-size: 12px;
                      color: white;
                      margin: -6px 0 0 0;">Available</h6>
                  </div>
              </div>
          </ion-col></ion-row></div>
  <div _ngcontent-dag-c150="" class="footer-nav">
      <div _ngcontent-dag-c150="" class="container">
          <ul _ngcontent-dag-c150="" class="footer-nav-list">
              <li _ngcontent-dag-c150="" class="footer-nav-item">
                  <h2 _ngcontent-dag-c150="" class="nav-title" style="color: white;">Popular Categories</h2>
              </li>
              <!-- <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" href="#"
                      class="footer-nav-link">Fashion</a></li> -->
              <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" href="#"
                      class="footer-nav-link">Electronic</a></li>
              <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" href="#"
                      class="footer-nav-link">Furniture</a></li>
              <!-- <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" href="#"
                      class="footer-nav-link">Health</a></li>
              <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" href="#"
                      class="footer-nav-link">Watches</a></li> -->
          </ul>

          <ul _ngcontent-dag-c150="" class="footer-nav-list">
              <li _ngcontent-dag-c150="" class="footer-nav-item">
                  <h2 _ngcontent-dag-c150="" class="nav-title" style="color: white;">Our Company</h2>
              </li>
              <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" href="#"
                      [routerLink]="['/refundpolicy']" class="footer-nav-link">refund policy</a></li>
              <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" href="#"
                      [routerLink]="['/privicypolicy']" class="footer-nav-link">Privacy Policy</a></li>
              <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" href="#"
                      [routerLink]="['/termscondition']" class="footer-nav-link">Terms and conditions</a></li>
              <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" [routerLink]="['/aboutus']"
                      class="footer-nav-link">About us</a></li>
              <!-- <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" href="#"
                      class="footer-nav-link">Secure payment</a></li> -->
          </ul>
          <ul _ngcontent-dag-c150="" class="footer-nav-list">
              <li _ngcontent-dag-c150="" class="footer-nav-item">
                  <h2 _ngcontent-dag-c150="" class="nav-title" style="color: white;">Services</h2>
              </li>
              <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" href="#"
                      class="footer-nav-link">Prices drop</a></li>
              <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" href="#"
                      class="footer-nav-link">New products</a></li>
              <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" href="#"
                      class="footer-nav-link">Best sales</a></li>
              <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150=""
                      [routerLink]="['/contactus']" class="footer-nav-link">Contact us</a></li>
              <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" href="#"
                      class="footer-nav-link">Sitemap</a></li>
          </ul>
          <ul _ngcontent-dag-c150="" class="footer-nav-list">
              <li _ngcontent-dag-c150="" class="footer-nav-item">
                  <h2 _ngcontent-dag-c150="" class="nav-title" style="color: white;">Contact</h2>
              </li>
              <li _ngcontent-dag-c150="" class="footer-nav-item flex">
                  <div _ngcontent-dag-c150="" class="icon-box"><ion-icon _ngcontent-dag-c150=""
                          name="location-outline" color="white" ng-reflect-name="location-outline"
                          ng-reflect-color="white" aria-label="location outline" role="img"
                          class="md ion-color ion-color-white hydrated"></ion-icon></div>
                  <address _ngcontent-dag-c150="" class="content"> POLICE LINE BAZAR
                      SRIPALLY
                      BURDWAN
                  </address>
              </li>
              <li _ngcontent-dag-c150="" class="footer-nav-item flex">
                  <div _ngcontent-dag-c150="" class="icon-box"><ion-icon _ngcontent-dag-c150="" name="call-outline"
                          color="white" ng-reflect-name="call-outline" ng-reflect-color="white"
                          aria-label="call outline" role="img"
                          class="md ion-color ion-color-white hydrated"></ion-icon></div><a _ngcontent-dag-c150=""
                      href="tel:+607936-8058" class="footer-nav-link">8001194102</a>
              </li>
              <li _ngcontent-dag-c150="" class="footer-nav-item flex">
                  <div _ngcontent-dag-c150="" class="icon-box"><ion-icon _ngcontent-dag-c150="" name="mail-outline"
                          ng-reflect-name="mail-outline" aria-label="mail outline" role="img"
                          class="md hydrated"></ion-icon></div><a _ngcontent-dag-c150="" href=""
                      class="footer-nav-link">mail@anandamelaretail.com</a>
              </li>
          </ul>
          <ul _ngcontent-dag-c150="" class="footer-nav-list">
              <li _ngcontent-dag-c150="" class="footer-nav-item">
                  <h2 _ngcontent-dag-c150="" class="nav-title">Follow Us</h2>
              </li>
              <li _ngcontent-dag-c150="">
                  <ul _ngcontent-dag-c150="" class="social-link">
                      <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" href="#"
                              class="footer-nav-link"><ion-icon _ngcontent-dag-c150="" name="logo-facebook"
                                  ng-reflect-name="logo-facebook" aria-label="logo facebook" role="img"
                                  class="md hydrated"></ion-icon></a></li>
                      <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" href="#"
                              class="footer-nav-link"><ion-icon _ngcontent-dag-c150="" name="logo-twitter"
                                  ng-reflect-name="logo-twitter" aria-label="logo twitter" role="img"
                                  class="md hydrated"></ion-icon></a></li>
                      <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" href="#"
                              class="footer-nav-link"><ion-icon _ngcontent-dag-c150="" name="logo-linkedin"
                                  color="white" ng-reflect-name="logo-linkedin" ng-reflect-color="white"
                                  aria-label="logo linkedin" role="img"
                                  class="md ion-color ion-color-white hydrated"></ion-icon></a></li>
                      <li _ngcontent-dag-c150="" class="footer-nav-item"><a _ngcontent-dag-c150="" href="#"
                              class="footer-nav-link"><ion-icon _ngcontent-dag-c150="" name="logo-instagram"
                                  ng-reflect-name="logo-instagram" aria-label="logo instagram" role="img"
                                  class="md hydrated"></ion-icon></a></li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
  <div _ngcontent-dag-c150="" class="footer-bottom">
      <div _ngcontent-dag-c150="" class="container"><img _ngcontent-dag-c150="" src="assets/footer/images/payment.png"
              alt="payment method" class="payment-img">
          <p _ngcontent-dag-c150="" class="copyright" style="color: #c5acff;
          font-size: var(--fs-8);
          font-weight: var(--weight-500);
          text-transform: capitalize;
          letter-spacing: 1.2px;"> Copyright © <a _ngcontent-dag-c150="" href="#">Anandamela</a>
              Design and Developed by Webcare Solutions </p>
      </div>
  </div>
</footer>
