<main role="main" id="Main">



    <section class="section about-hero">
        <div class="grid about-hero__grid">
            <div class="grid__item grid__item--tablet-up-half about-hero__content">
                <div class="section-heading gutter-bottom--reset">
                    <p class="section-heading__kicker heading--5 text-left--tablet-up text-center--mobile color-black">
                        About us</p>
                    <h1
                        class="section-heading__heading heading--1 text-left--tablet-up text-center--mobile about-hero__heading">
                        Anandamela powers millions of businesses worldwide</h1>
                    <p class="section-heading__subhead heading--2 heading--3 text-left--tablet-up text-center--mobile">
                        The all-in-one commerce platform to start, run, and grow&nbsp;a&nbsp;business.</p>
                    <div class="text-left--tablet-up text-center--mobile gutter-bottom--mobile">
                        <form class="marketing-button-wrapper" action="https://accounts.shopify.com/store-create"
                            accept-charset="UTF-8" method="post"><button
                                class="marketing-button js-open-signup start-free-trial__button">Get Started</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="grid__item grid__item--tablet-up-half about-hero__image-container">
                <span class="image lazyload-image about-hero__image-spill"
                    style="max-width: 837px; max-height: 564px;"><span class="lazyload-image__placeholder"
                        style="padding-bottom: 67.3835%"><img alt="" data-sizes="100vw"
                            data-srcset="assets/aboutus/images/aboutus1.jpg 1x, assets/aboutus/images/aboutus1.jpg?quality=50 2x"
                            class=" lazyloaded" sizes="100vw"
                            srcset="assets/aboutus/images/aboutus1.jpg 1x, assets/aboutus/images/aboutus1.jpg?quality=50 2x"><noscript><img
                                sizes="100vw"
                                srcset="assets/aboutus/images/aboutus1.jpg 1x, assets/aboutus/images/aboutus1.jpg?quality=50 2x"
                                alt="" /></noscript></span></span>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="grid grid--vertically-centered about-online-store">
            <div class="grid__item grid__item--tablet-up-half about-online-store__content">
                <div class="section-heading about-online-store__content gutter-bottom--reset">
                    <p
                        class="section-heading__kicker heading--5 color-green-80 text-left--tablet-up text-center--mobile gutter-bottom--half">
                        Anandamela story</p>
                    <h2
                        class="section-heading__heading text-left--tablet-up text-center--mobile gutter-bottom--half about-heading">
                        The first Anandamela store was&nbsp;our&nbsp;own</h2>
                    <p
                        class="section-heading__subhead text-major text-left--tablet-up text-center--mobile color-gray-80 gutter-bottom--reset">
                        Over a decade ago, we started a store to sell snowboards online. None of the ecommerce solutions
                        at the time gave us the control we needed to be successful—so we built our own. Today,
                        businesses of all sizes use Anandamela, whether they’re selling online, in retail stores, or
                        on-the-go.</p>
                </div>
            </div>
            <div class="grid__item grid__item--tablet-up-half about-online-store__image-container">
                <picture class="picture about-online-store__image">
                    <source data-srcset="assets/aboutus/images/aboutus2.jpg 2x" media="(min-width: 1080px)"
                        srcset="assets/aboutus/images/aboutus2.jpg 2x">
                    <source data-srcset="assets/aboutus/images/aboutus2.jpg 2x" media="(min-width: 750px)"
                        srcset="assets/aboutus/images/aboutus2.jpg 2x">
                    <img data-srcset="assets/aboutus/images/aboutus2.jpg 2x" alt="" class=" lazyloaded"
                        srcset="assets/aboutus/images/aboutus2.jpg 2x">
                </picture><noscript>
                    <picture class="picture about-online-store__image">
                        <source srcset="assets/aboutus/images/aboutus2.jpg 2x" media="(min-width: 1080px)" />
                        <source srcset="assets/aboutus/images/aboutus2.jpg 2x" media="(min-width: 750px)" /><img
                            srcset="assets/aboutus/images/aboutus2.jpg 2x" alt="" />
                    </picture>
                </noscript>
            </div>
        </div>
    </section>
    <section class="section section--padding-bottom-only about-mission">
        <div class="grid grid--vertically-centered">
            <div class="grid__item grid__item--tablet-up-two-thirds grid__item--tablet-up-push-1">
                <div class="section-heading about-mission__content">
                    <p class="section-heading__kicker heading--5 color-black gutter-bottom--half">Our mission</p>
                    <h2 class="section-heading__heading gutter-bottom--half about-heading">Making commerce better for
                        everyone</h2>
                    <p class="section-heading__subhead text-major color-gray-80 gutter-bottom--reset">We help people
                        achieve independence by making it easier to start, run, and grow a business. We believe the
                        future of commerce has more voices, not fewer, so we’re reducing the barriers to business
                        ownership to make commerce better for everyone.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div
            class="grid grid--vertically-centered about-content__block-container about-content__block-container--flipped about-content__image--grid">

            <div
                class="grid__item grid__item--tablet-up-half grid__item--tablet-up-push-half about-content__image-flipped about-video__container about-content__image--grid-item">
                <picture class="picture about-online-store__image">
                    <source data-srcset="assets/aboutus/images/aboutus3.jpg 2x" media="(min-width: 1080px)"
                        srcset="assets/aboutus/images/aboutus3.jpg 2x">
                    <source data-srcset="assets/aboutus/images/aboutus3.jpg 2x" media="(min-width: 750px)"
                        srcset="assets/aboutus/images/aboutus3.jpg 2x">
                    <img data-srcset="assets/aboutus/images/aboutus3.jpg 2x" alt="" class=" lazyloaded"
                        srcset="assets/aboutus/images/aboutus3.jpg 2x">
                </picture><noscript>
                    <picture class="picture about-online-store__image">
                        <source srcset="assets/aboutus/images/aboutus3.jpg 2x" media="(min-width: 1080px)" />
                        <source srcset="assets/aboutus/images/aboutus3.jpg 2x" media="(min-width: 750px)" /><img
                            srcset="assets/aboutus/images/aboutus3.jpg 2x" alt="" />
                    </picture>
                </noscript>
            </div>
            <div class="grid__item grid__item--tablet-up-half grid__item--tablet-up-pull-half">
                <div class="about-content--grid-item">
                    <div class="section-heading gutter-bottom--reset">
                        <p
                            class="section-heading__kicker heading--5 color-black text-left--tablet-up text-center--mobile gutter-bottom--half">
                            Our team and our social impact</p>
                        <h2
                            class="section-heading__heading text-left--tablet-up text-center--mobile gutter-bottom--half about-heading">
                            Creating a community for&nbsp;impact</h2>
                        <p
                            class="section-heading__subhead text-major text-left--tablet-up text-center--mobile color-gray-80 gutter-bottom--reset">
                            Anandamela has grown from 5 people in a coffee shop to over 10,000 across the globe. With
                            millions of businesses powered by Anandamela, we invest in our people and our communities.
                            Our
                            <a data-event-page="about" data-event-category="link" data-event-action="click-link-body"
                                data-event-label="social-impact" class="link" href="/about/social-impact">Social Impact
                                initiatives</a> focus on enabling an equitable future by building products and programs
                            to support our team and merchants.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--padding-bottom-only about-sustainability">
        <div
            class="grid grid--vertically-centered about-content__block-container about-content__block-container--flipped about-content__image--grid">

            <div
                class="grid__item grid__item--tablet-up-half grid__item--tablet-up-push-half about-content__image--flipped about-sustainability__container about-content__image--grid-item">
                <div class="about-sustainability__image-container">
                    <picture class="picture about-online-store__image">
                        <source data-srcset="assets/aboutus/images/aboutus4.jpg 2x" media="(min-width: 1080px)"
                            srcset="assets/aboutus/images/aboutus4.jpg 2x">
                        <source data-srcset="assets/aboutus/images/aboutus4.jpg 2x" media="(min-width: 750px)"
                            srcset="assets/aboutus/images/aboutus4.jpg 2x">
                        <img data-srcset="assets/aboutus/images/aboutus4.jpg 2x" alt="" class=" lazyloaded"
                            srcset="assets/aboutus/images/aboutus4.jpg 2x">
                    </picture><noscript>
                        <picture class="picture about-online-store__image">
                            <source srcset="assets/aboutus/images/aboutus4.jpg 2x" media="(min-width: 1080px)" />
                            <source srcset="assets/aboutus/images/aboutus4.jpg 2x" media="(min-width: 750px)" /><img
                                srcset="assets/aboutus/images/aboutus4.jpg 2x" alt="" />
                        </picture>
                    </noscript>
                </div>
            </div>
            <div class="grid__item grid__item--tablet-up-half grid__item--tablet-up-pull-half">
                <div class="about-content--grid-item">
                    <div class="section-heading gutter-bottom--reset">
                        <p
                            class="section-heading__kicker heading--5 color-black text-left--tablet-up text-center--mobile gutter-bottom--half">
                            Our commitment to sustainability</p>
                        <h2
                            class="section-heading__heading text-left--tablet-up text-center--mobile gutter-bottom--half about-heading">
                            We’re building a 100-year company</h2>
                        <p
                            class="section-heading__subhead text-major text-left--tablet-up text-center--mobile color-gray-80">
                            Anandamela builds for the long term, and that means investing in our planet so that we can
                            future proof Anandamela and help our merchants future proof their businesses, too. Our <a
                                data-event-page="about" data-event-category="link" data-event-action="click-link-body"
                                data-event-label="sustainability-fund" class="link"
                                href="/about/environment/sustainability-fund">Sustainability Fund</a> includes
                            kickstarting the carbon removal market and choosing renewable energy, reducing and removing
                            our carbon emissions, and creating solutions for our merchants to do the same.</p>

                        <div class="text-left--tablet-up text-center--mobile gutter-bottom--half">
                            <a data-event-page="about" data-event-category="link" data-event-action="click-link-body"
                                data-event-label="sustainability-report-2021" class="link link--secondary"
                                href="/sustainability-report">Read historical sustainability reports&nbsp;<span
                                    class="link__arrow"><svg class="icon link__arrow-inner" aria-hidden="true"
                                        focusable="false">
                                        <use xlink:href="#modules-arrow-right"></use>
                                    </svg></span></a>
                        </div>
                        <div class="text-left--tablet-up text-center--mobile">
                            <a data-event-page="about" data-event-category="link" data-event-action="click-link-body"
                                data-event-label="climate-report-2022" class="link link--secondary"
                                href="/climate-report">Read our 2022 Climate Report&nbsp;<span class="link__arrow"><svg
                                        class="icon link__arrow-inner" aria-hidden="true" focusable="false">
                                        <use xlink:href="#modules-arrow-right"></use>
                                    </svg></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="section about-resources">
        <div class="grid">
            <div
                class="grid__item grid__item--mobile-up-half grid__item--tablet-up-full grid__item--mobile-up-align-center">
                <div class="section-heading">
                    <h2 class="section-heading__heading about-heading color-green-80">Learn more about Anandamela</h2>
                </div>
            </div>
            <div class="grid__item">
                <div class="about-resources__card-group">
                    <div class="block about-resources__resource-card ui-resource-block"><svg
                            class="icon icon--size-small gutter-bottom ui-resource-block__icon about-resources__icon block__icon"
                            aria-hidden="true" focusable="false">
                            <use xlink:href="#spot-customer-support"></use>
                        </svg>
                        <h3 class="block__heading heading--4 text-major">Award-winning support</h3>
                        <p class="block__content ui-resource-block__content">Get the help you want with 24/7
                            support—before, during, and after your trial.</p><a
                            class="ui-resource-block__cta link link--secondary" href="/contact">Contact
                            support&nbsp;<span class="link__arrow"><svg class="icon link__arrow-inner"
                                    aria-hidden="true" focusable="false">
                                    <use xlink:href="#modules-arrow-right"></use>
                                </svg></span></a>
                    </div>
                    <div class="block about-resources__resource-card ui-resource-block"><svg
                            class="icon icon--size-small gutter-bottom ui-resource-block__icon about-resources__icon block__icon"
                            aria-hidden="true" focusable="false">
                            <use xlink:href="#spot-boost"></use>
                        </svg>
                        <h3 class="block__heading heading--4 text-major">Career opportunities</h3>
                        <p class="block__content ui-resource-block__content">Learn how you can have an impact by
                            exploring opportunities at Anandamela.</p><a
                            class="ui-resource-block__cta link link--secondary" href="/careers">Explore
                            careers&nbsp;<span class="link__arrow"><svg class="icon link__arrow-inner"
                                    aria-hidden="true" focusable="false">
                                    <use xlink:href="#modules-arrow-right"></use>
                                </svg></span></a>
                    </div>
                    <div class="block about-resources__resource-card ui-resource-block"><svg
                            class="icon icon--size-small gutter-bottom ui-resource-block__icon about-resources__icon block__icon"
                            aria-hidden="true" focusable="false">
                            <use xlink:href="#spot-marketing"></use>
                        </svg>
                        <h3 class="block__heading heading--4 text-major">Press and media</h3>
                        <p class="block__content ui-resource-block__content">Find press releases, executive team bios,
                            and more.</p><a class="ui-resource-block__cta link link--secondary"
                            href="https://news.shopify.com">View press&nbsp;<span class="link__arrow"><svg
                                    class="icon link__arrow-inner" aria-hidden="true" focusable="false">
                                    <use xlink:href="#modules-arrow-right"></use>
                                </svg></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section class="section signup-footer">
        <div class="grid">
            <div class="grid__item">
                <div class="section-heading signup-footer__heading gutter-bottom--reset">
                    <h2 class="section-heading__heading heading--2 next-steps__sign-up-heading" data-event-page="about"
                        data-event-category="about" data-event-action="footer" data-event-label="signup">Try Shopify for
                        free, and explore all the tools and services you need to start, run, and grow
                        your&nbsp;business.</h2>
                    <form class="marketing-button-wrapper" action="https://accounts.shopify.com/store-create"
                        accept-charset="UTF-8" method="post"><button
                            class="marketing-button js-open-signup start-free-trial__button signup-footer__button">Start
                            free trial</button></form>
                </div>
            </div>
        </div>
    </section> -->



</main>