<div class="col-12">
  <div class="card" style="border-radius: 1rem">
    <div class="row g-0">
      <div class="col-md-6 col-lg-7 d-flex align-items-center">
        <div class="card-body p-4 p-lg-5 text-black">
          <form>
            <div class="d-flex align-items-center mb-3 pb-1">
              <div
                class="circle-icon"
                style="
                  background-color: #ffffff;
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: #fff;
                  font-size: 18px;
                  margin-right: 8px;
                "
              >
                <i class="fas fa-font-awesome-icon"
                  ><img height="50" src="assets/logo/navlogo.ico" alt=""
                /></i>
              </div>
              <span class="h1 fw-bold mb-0">Anandamela</span>
            </div>

            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
              Sign into your account
            </h5>
            <div *ngIf="!isSendEmail" class="form-outline mb-4">
              <label
                class="form-label"
                for="form2Example17"
                style="margin-left: 0px"
                >Enter Email</label
              >
              <input
                type="email"
                id="form2Example17"
                class="form-control form-control-lg"
                name="email"
                [(ngModel)]="formresetpass.email"
                required
                #email="ngModel"
              />

              <div class="form-notch">
                <div class="form-notch-leading" style="width: 9px"></div>
                <div class="form-notch-middle" style="width: 88.8px"></div>
                <div class="form-notch-trailing"></div>
              </div>
            </div>
            <div *ngIf="isSendEmail" class="form-outline mb-4">
              <label
                class="form-label"
                for="form2Example17"
                style="margin-left: 0px"
                >Enter OTP</label
              >
              <input
                type="number"
                id="form2Example17"
                name="username"
                class="form-control form-control-lg"
                name="user_otp"
                [(ngModel)]="formresetpass.user_otp"
                required
                #user_otp="ngModel"
              />

              <div class="form-notch">
                <div class="form-notch-leading" style="width: 9px"></div>
                <div class="form-notch-middle" style="width: 88.8px"></div>
                <div class="form-notch-trailing"></div>
              </div>
            </div>

            <div *ngIf="isSendEmail" class="form-outline mb-4">
              <label
                class="form-label"
                for="form2Example17"
                style="margin-left: 0px"
                >Enter Password</label
              >
              <input
                type="password"
                id="form2Example17"
                class="form-control form-control-lg"
                name="new_password"
                [(ngModel)]="formresetpass.new_password"
                required
                #new_password="ngModel"
              />

              <div class="form-notch">
                <div class="form-notch-leading" style="width: 9px"></div>
                <div class="form-notch-middle" style="width: 88.8px"></div>
                <div class="form-notch-trailing"></div>
              </div>
            </div>
            <div *ngIf="isSendEmail" class="form-outline mb-4">
              <label
                class="form-label"
                for="form2Example17"
                style="margin-left: 0px"
                >Enter Password</label
              >
              <input
                type="password"
                id="form2Example17"
                class="form-control form-control-lg"
                name="confirm_password"
                [(ngModel)]="formresetpass.confirm_password"
                required
                #confirm_password="ngModel"
              />

              <div class="form-notch">
                <div class="form-notch-leading" style="width: 9px"></div>
                <div class="form-notch-middle" style="width: 88.8px"></div>
                <div class="form-notch-trailing"></div>
              </div>
            </div>

            <div class="pt-1 mb-4">
              <button
                *ngIf="!isSendEmail"
                (click)="sendEmial()"
                class="btn btn-dark btn-lg btn-block"
                type="button"
                style="margin-right: 5px"
              >
                Send OTP
              </button>
              <button
                (click)="changepass()"
                *ngIf="isSendEmail"
                class="btn btn-dark btn-lg btn-block"
                type="button"
              >
                Change Password
              </button>
              <p class="mb-5 pb-lg-2" style="color: #393f81">
                Allready have an account?
                <a (click)="openDialog()" style="color: #393f81"
                  >Sign in here</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
