<div>
    <h1>
        Terms and Conditions for Anandamela E-commerce Website:
    </h1>
    <p>


        Please read these Terms and Conditions carefully before using our e-commerce website
        (http://anandamelaretail.com/) and engaging in any transactions. These Terms and Conditions govern your access
        to and use of the website, as well as the purchase and sale of products and services from Anandamela. By
        accessing or using our website, you agree to be bound by these Terms and Conditions.
        <br><br><br>
        1. Website Use and Content:
        a. The content provided on our website is for general informational purposes only. We make reasonable efforts to
        ensure the accuracy and timeliness of the information, but we do not guarantee its completeness or reliability.
        b. You may use our website for personal, non-commercial purposes only. You must not use the website for any
        unlawful or unauthorized activities.
        c. We reserve the right to modify, suspend, or discontinue any aspect of the website without prior notice.
        <br><br><br>
        2. Product Information and Pricing:
        a. We strive to provide accurate product descriptions, images, and pricing information. However, we do not
        warrant that the information is error-free, complete, or up to date.
        b. The prices displayed on our website are subject to change without notice. We reserve the right to modify the
        prices of our products and services at any time.
        c. In the event of an error in product pricing or description, we reserve the right to cancel or refuse orders
        placed for the affected products.
        <br><br><br>
        3. Ordering and Payment:
        a. By placing an order on our website, you represent that you are legally authorized to enter into a binding
        contract and provide accurate and complete information for the order.
        b. We reserve the right to refuse or cancel any order for any reason, including but not limited to product
        availability, pricing errors, suspected fraudulent activity, or violation of these Terms and Conditions.
        c. Payment for orders can be made through the available payment methods on our website. You agree to pay the
        total amount due, including applicable taxes and shipping fees, if applicable.
        <br><br><br>
        4. Shipping and Delivery:
        a. We will make reasonable efforts to process and ship orders promptly. However, we do not guarantee specific
        delivery dates or times.
        b. Risk of loss or damage to products passes to you upon delivery. It is your responsibility to inspect the
        delivered items and report any issues within a reasonable time.
        <br><br><br>
        5. Returns and Refunds:
        a. We accept returns and provide refunds in accordance with our Return and Refund Policy, which is available on
        our website.
        b. Certain products may be non-returnable or subject to specific return conditions. Please review our Return and
        Refund Policy for more details.
        <br><br><br>
        6. Intellectual Property:
        a. All intellectual property rights in the content, design, and trademarks used on our website are owned or
        licensed by Anandamela. You must not use, reproduce, modify, or distribute our intellectual property without our
        explicit consent.
        <br><br><br>
        7. Limitation of Liability:
        a. To the extent permitted by law, Anandamela shall not be liable for any direct, indirect, incidental,
        consequential, or punitive damages arising out of or in connection with the use or inability to use our website
        or the purchase and use of our products and services.
        <br><br><br>
        8. Governing Law and Jurisdiction:
        a. These Terms and Conditions shall be governed by and construed in accordance with the laws of [Jurisdiction].
        Any disputes arising out of or relating to these Terms and Conditions shall be subject to the exclusive
        jurisdiction of the courts of [Jurisdiction].
        <br><br><br>
        9. Modifications to Terms and Conditions:
        a. We reserve the right to modify these Terms and Conditions at any time. Any changes will be effective upon
        posting on our website. Your continued use of the website after the changes constitutes acceptance of the
        modified Terms and Conditions.
        <br><br><br>
        If you have any questions or concerns regarding these Terms and Conditions, please contact us at
        mail@anandamelaretail.com or call us at 080011 94102.
        <br><br><br>
        Effective Date: 11 july, 2023
    </p>
</div>