<footer style="background-color: #1d1d4e">
  <table class="feature-nav" style="width: 100%">
    <tr>
      <td>
        <div class="footer-card line">
          <div class="round-icon-footer" style="margin-top: 8px">
            <img
              src="assets/footer/images/ic_twotone-local-offer.png"
              style="height: 50%"
            />
          </div>
        </div>
        <div class="footer-card line">
          <h5 style="color: white">Express Delivery</h5>
        </div>
      </td>
      <td>
        <div class="footer-card line">
          <div class="round-icon-footer" style="margin-top: 8px">
            <img
              src="assets/footer/images/ic_twotone-store.png"
              style="height: 50%"
            />
          </div>
        </div>
        <div class="footer-card line">
          <h5 style="color: white">Best offers</h5>
        </div>
      </td>
      <td>
        <div class="footer-card">
          <div class="round-icon-footer" style="margin-top: 8px">
            <img
              src="assets/footer/images/solar_delivery-bold-duotone.png"
              style="height: 50%"
            />
          </div>
        </div>
        <div class="footer-card line">
          <h5 style="color: white">Offline Store</h5>
        </div>
      </td>
    </tr>
  </table>

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 mb-3 mb-lg-0">
          <div class="mb-3 mb-lg-4">
            <a href="/" class="d-inline-block">
              <img
                style="background-color: white"
                height="50"
                src="assets/nav/images/Group 6.svg"
                alt="logo"
              />
            </a>
          </div>
          <div class="mb-lg-4 mb-3">
            <div class="row g-2">
              <div class="col-auto">
                <i
                  class="bi bi-headset text-black hover-text-blue font-size-46 font-size-sx-40"
                ></i>
              </div>
              <div class="col pl-3 align-self-center">
                <div
                  class="font-size-13 text-black hover-text-blue font-weight-light"
                >
                  Got questions? Call us!
                </div>
                <a
                  href="tel:033-4037-2000"
                  class="font-size-20 text-black hover-text-blue"
                  >8001194102
                </a>
              </div>
            </div>
          </div>
          <div class="mb-lg-0 mb-3 mt-lg-3 mt-3">
            <ul class="social-media-footer">
              <li>
                <a target="_blank" href="{{ facebook }}">
                  <img
                    src="https://d1kivxjtmxnd4.cloudfront.net/fit-in/35x35/assets/svg/social/facebook.svg"
                    alt="facebook"
                    height="35"
                    loading="lazy"
                  />
                </a>
              </li>
              <li>
                <a target="_blank" href="{{ youtube }}">
                  <img
                    src="https://d1kivxjtmxnd4.cloudfront.net/fit-in/35x35/assets/svg/social/youtube.svg"
                    alt="Youtube"
                    height="35"
                    loading="lazy"
                  />
                </a>
              </li>
              <li>
                <a target="_blank" href="{{ insta }}">
                  <img
                    src="https://d1kivxjtmxnd4.cloudfront.net/fit-in/35x35/assets/svg/social/instagram.svg"
                    alt="instagram"
                    height="35"
                    loading="lazy"
                  />
                </a>
              </li>
              <li>
                <a target="_blank" href="mailto:crm@geapl.in">
                  <img
                    src="https://d1kivxjtmxnd4.cloudfront.net/fit-in/35x35/assets/svg/social/gmail.svg"
                    alt="gmail"
                    height="35"
                    loading="lazy"
                  />
                </a>
              </li>
              <li>
                <a target="_blank" href="{{ whatsapp }}">
                  <img
                    src="https://d1kivxjtmxnd4.cloudfront.net/fit-in/35x35/assets/svg/social/whatsapp.svg"
                    alt="whatsapp"
                    height="35"
                    loading="lazy"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-12 col-md-5 mb-4 mb-md-0">
              <h6 class="footer-link-title mb-3 text-black hover-text-blue">
                Products
              </h6>
              <div class="row">
                <div class="col-6">
                  <ul class="footer-link-list">
                    <li><a href="/shop/open-box-sale">Electronics</a></li>
                  </ul>
                </div>
                <div class="col-6">
                  <ul class="footer-link-list">
                    <li><a href="/shop/air-conditioner">Furniture</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-4 col-md mb-md-0">
              <h6 class="footer-link-title mb-3 text-black hover-text-blue">
                Services
              </h6>
              <ul class="footer-link-list">
                <li>
                  <a data-bs-toggle="modal" role="button"> Prices Drop</a>
                </li>
                <li>
                  <a data-bs-toggle="modal" role="button"> New products </a>
                </li>
                <li>
                  <a data-bs-toggle="modal" role="button"> Best Sales</a>
                </li>
                <li>
                  <a [routerLink]="['/contactus']" role="button"> Contact us</a>
                </li>
              </ul>
            </div>
            <div class="col-4 col-md">
              <h6 class="footer-link-title mb-3 text-black hover-text-blue">
                About
              </h6>
              <ul class="footer-link-list">
                <li><a [routerLink]="['/aboutus']">About Us</a></li>
              </ul>
            </div>
            <div class="col-4 col-md">
              <h6 class="footer-link-title mb-3 text-black hover-text-blue">
                Policies
              </h6>
              <ul class="footer-link-list">
                <li><a>Terms &amp; Conditions</a></li>
                <li>
                  <a [routerLink]="['/termscondition']">Privacy Policy</a>
                </li>
                <li>
                  <a
                    data-bs-toggle="modal"
                    [routerLink]="['/refundpolicy']"
                    role="button"
                    >Refund Policy</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row justify-content-between">
        <div
          class="col-lg-6 col-sm-12 align-self-center text-white text-lg-start text-center"
        >
          <span class="footer-at-tag">
            <a href="/" class="text-white">Anandamela</a></span
          >
          -Design and Developed by Webcare Solutions
        </div>
        <div
          class="col-lg-auto col-sm-12 text-md-right text-center mt-lg-0 mt-2"
        >
          <div class="d-inline-block footer-bottom-logo">
            <img
              src="https://d2afzgorr4mxtq.cloudfront.net/img/100x60/img1.jpg"
              alt="Visa"
            />
          </div>
          <div class="d-inline-block footer-bottom-logo">
            <img
              src="https://d2afzgorr4mxtq.cloudfront.net/img/100x60/img2.jpg"
              alt="Master"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
