<div _ngcontent-jar-c145="" class="container">
  <!-- back button home button -->
  <div class="my-md-2" style="display: flex; justify-content: space-between">
    <nav aria-label="breadcrumb" style="width: 100%">
      <ol
        class="breadcrumb mb-0 mb-lg-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble"
        style="display: flex; justify-content: space-between; width: 100%"
      >
        <li>
          <a [routerLink]="['/']">
            <i class="fa fa-home" style="margin-right: 5px"></i>Home</a
          >
        </li>
        <li>
          <a onclick="window.history.back()">
            <i class="fa fa-arrow-left"></i>Back</a
          >
        </li>
      </ol>
    </nav>
  </div>
  <!-- loading -->
  <div
    style="
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
    "
    *ngIf="loading"
  >
    <app-loading></app-loading>
  </div>
  <!-- after loading -->
  <div *ngIf="!loading">
    <!-- product deatils -->
    <div _ngcontent-jar-c145="" class="content-padding">
      <div _ngcontent-jar-c145="" class="wrapper row">
        <div _ngcontent-jar-c145="" class="preview col-md-6" style="width: 50%">
          <div _ngcontent-jar-c145="" class="preview-pic tab-content"></div>
          <app-product-viewer [images]="productImage"></app-product-viewer>
        </div>
        <div _ngcontent-jar-c145="" class="details col-md-6">
          <div
            _ngcontent-jar-c145=""
            class="top-share"
            style="margin-top: 15px"
          >
            <ul _ngcontent-jar-c145="" class="tags">
              <li _ngcontent-jar-c145="">
                <a _ngcontent-jar-c145="" href="">
                  {{ productDetils.product.menu_type_name }}
                </a>
              </li>
              <li _ngcontent-jar-c145="">
                <a _ngcontent-jar-c145="" href="">{{
                  productDetils.product.group_name
                }}</a>
              </li>
              <li _ngcontent-jar-c145="">
                <a _ngcontent-jar-c145="" href="">{{
                  productDetils.product.brand_name
                }}</a>
              </li>
            </ul>
            <ion-icon
              _ngcontent-jar-c145=""
              name="share-social-outline"
              class="share md hydrated"
              ng-reflect-name="share-social-outline"
              aria-label="share social outline"
              role="img"
            ></ion-icon>
          </div>
          <h3 _ngcontent-jar-c145="" class="product-title">
            {{ productDetils.product.product_name }}
          </h3>
          <h4 _ngcontent-jar-c145="" class="productId">
            {{ productDetils.product.product_slug_url }}
            <span _ngcontent-jar-c145="">In-Stock</span>
          </h4>
          <div _ngcontent-jar-c145="" class="rating">
            <div _ngcontent-jar-c145="" class="stars">
              <ion-icon
                _ngcontent-jar-c145=""
                name="star"
                class="ratingstar checked"
                ng-reflect-name="share-social-outline"
                aria-label="share social outline"
                role="img"
              ></ion-icon>
              <ion-icon
                _ngcontent-jar-c145=""
                name="star"
                class="ratingstar checked"
                ng-reflect-name="share-social-outline"
                aria-label="share social outline"
                role="img"
              ></ion-icon>
              <ion-icon
                _ngcontent-jar-c145=""
                name="star"
                class="ratingstar checked"
                ng-reflect-name="share-social-outline"
                aria-label="share social outline"
                role="img"
              ></ion-icon>
              <ion-icon
                _ngcontent-jar-c145=""
                name="star"
                class="ratingstar"
                ng-reflect-name="share-social-outline"
                aria-label="share social outline"
                role="img"
              ></ion-icon>
              <ion-icon
                _ngcontent-jar-c145=""
                name="star"
                class="ratingstar"
                ng-reflect-name="share-social-outline"
                aria-label="share social outline"
                role="img"
              ></ion-icon>
              <a _ngcontent-jar-c145="" href="">(41 reviews)</a>
            </div>
          </div>
          <h6 _ngcontent-jar-c145="" class="sub-title">Current Price</h6>
          <h4 _ngcontent-jar-c145="" class="priceOne">
            ₹ {{ productDetils.product.offer_price }}
            <span _ngcontent-jar-c145=""
              >₹ {{ productDetils.product.mrp_price }}</span
            >
          </h4>
          <h6 _ngcontent-jar-c145="" class="sub-title">Available offers</h6>
          <div>
            <h6 _ngcontent-jar-c145="" class="sub-title">Bank Offer</h6>
            <div class="offersavilable">
              <img
                src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90"
                width="18"
                height="18"
                class="_3HLfAg"
              />
              <h6
                _ngcontent-jar-c145=""
                class="sub-title"
                style="margin-top: 2px"
              >
                Flat ₹1,250 Off on HDFC Bank Credit Card EMI Trxns on orders
                priced between ₹15,000 to ₹39,999
              </h6>
            </div>
            <div class="offersavilable">
              <img
                src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90"
                width="18"
                height="18"
                class="_3HLfAg"
              />
              <h6
                _ngcontent-jar-c145=""
                class="sub-title"
                style="margin-top: 2px"
              >
                Flat ₹1,250 Off on HDFC Bank Credit Card EMI Trxns on orders
                priced between ₹15,000 to ₹39,999
              </h6>
            </div>
            <div class="offersavilable">
              <img
                src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90"
                width="18"
                height="18"
                class="_3HLfAg"
              />
              <h6
                _ngcontent-jar-c145=""
                class="sub-title"
                style="margin-top: 2px"
              >
                Flat ₹1,250 Off on HDFC Bank Credit Card EMI Trxns on orders
                priced between ₹15,000 to ₹39,999
              </h6>
            </div>
          </div>

          <h4 _ngcontent-jar-c145="" class="feature"></h4>
          <div _ngcontent-jar-c145="" class="exchange">
            <div _ngcontent-jar-c145="" class="exchange-head">
              <div _ngcontent-jar-c145="" class="exc-icon">
                <ion-icon
                  _ngcontent-jar-c145=""
                  name="cube-outline"
                  ng-reflect-name="cube-outline"
                  aria-label="cube outline"
                  role="img"
                  class="md hydrated"
                ></ion-icon>
              </div>
              <div _ngcontent-jar-c145="">
                <h3 _ngcontent-jar-c145="">With Exchange</h3>
                <h4 _ngcontent-jar-c145="">Up to ₹ 800.00 off</h4>
              </div>
            </div>
            <button
              _ngcontent-jar-c145=""
              type="button"
              class="add-to-cart btn btn-secondary w-100"
            >
              EXCHANGE OFFERS
            </button>
          </div>
          <div style="display: flex" _ngcontent-jar-c145="" class="action">
            <button
              (click)="addtocart(productDetils)"
              _ngcontent-jar-c145=""
              type="button"
              class="add-to-cart btn btn-default"
            >
              ADD TO CART</button
            ><button
              (click)="buynow(productDetils)"
              _ngcontent-jar-c145=""
              type="button"
              class="add-to-cart btn btn-secondary"
              style="margin-left: 10px"
            >
              BUY NOW
            </button>
          </div>
          <!-- check pincode -->
          <div class="mb-2">
            <div class="d-flex">
              <div class="zipcode-search ml-2">
                <!-- Apply coupon Form -->
                <div class="input-group">
                  <div
                    style="margin-right: 10px"
                    class="input-group-append border-left-0"
                  >
                    Delivery
                  </div>
                  <input
                    #pincode
                    type="text"
                    class="form-control border-light-1 border-right-0 rounded-pill shadow-sm text-center"
                    name="delivery_pincode"
                    id="delivery_pincode"
                    placeholder="Enter Pincode"
                    aria-label="Enter Pincode"
                    aria-describedby="subscribeButtonExample2"
                    maxlength="6"
                    required=""
                    style="text-align: center"
                  />

                  <div
                    style="margin-left: 10px"
                    class="input-group-append border-left-0"
                  >
                    <button
                      type="button"
                      class="btn btn-block border-light-1 border-left-0 text-blue"
                      id="kohiapp-delivery-check-form"
                      (click)="checkpincode(pincode.value)"
                    >
                      <span class="d-md-inline">Check</span>
                    </button>
                  </div>
                </div>
                <!-- <div id="response_msg">
        <span class="text-red">Enter 6 digit area pincode</span>
      </div> -->
                <!-- End Apply coupon Form -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- comapre  spec reiew-->
    <div _ngcontent-jar-c145="" class="more-info">
      <ul _ngcontent-jar-c145="" class="nav" style="display: flex">
        <li _ngcontent-jar-c145="" class="nav-item">
          <h6
            _ngcontent-jar-c145=""
            (click)="clickspec()"
            [ngClass]="{ active: specification }"
            class="nav-link"
            ng-reflect-ng-class="[object Object]"
          >
            Specifications
          </h6>
        </li>
        <li _ngcontent-jar-c145="" class="nav-item">
          <h6
            _ngcontent-jar-c145=""
            (click)="clickcom()"
            [ngClass]="{ active: comapre }"
            class="nav-link"
            ng-reflect-ng-class="[object Object]"
          >
            Compare
          </h6>
        </li>
        <li _ngcontent-jar-c145="" class="nav-item">
          <h6
            _ngcontent-jar-c145=""
            (click)="clickreview()"
            [ngClass]="{ active: review }"
            class="nav-link"
            ng-reflect-ng-class="[object Object]"
          >
            Reviews
          </h6>
        </li>
      </ul>
      <!-- specification -->
      <div *ngIf="specification" _ngcontent-myo-c145="" class="nav-content">
        <div
          _ngcontent-myo-c145=""
          class="mx-md-3 pt-1 product-specification-tab"
        >
          <div
            _ngcontent-myo-c145=""
            class="row mb-2 mb-lg-3"
            style="display: flex"
          >
            <div _ngcontent-myo-c145="" class="col-lg-6" style="width: 50%">
              <div _ngcontent-myo-c145="" class="mb-4">
                <h3 _ngcontent-myo-c145="" class="product-attribute-head">
                  General
                </h3>
                <div
                  *ngFor="let obj of productDetils.product.product_attributes"
                  _ngcontent-myo-c145=""
                  class="row mb-2"
                  style="display: flex"
                >
                  <div _ngcontent-myo-c145="" class="col-3" style="width: 30%">
                    <h4 _ngcontent-myo-c145="" class="product-attribute-name">
                      {{ obj.attribute_name }}
                    </h4>
                  </div>
                  <div _ngcontent-myo-c145="" class="col-9">
                    <p
                      _ngcontent-myo-c145=""
                      class="text-gray-5 product-specification add-Read-More showlesscontent"
                    >
                      {{ obj.attribute_value }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div _ngcontent-myo-c145="" class="col-lg-6" style="width: 50%">
              <p
                _ngcontent-myo-c145=""
                class="text-gray-5 product-specification add-Read-More showlesscontent"
              >
                You can conveniently wash your clothes in the Lloyd Fully
                Automatic Front-loading Washing Machine. Its 16 wash programs
                let you set your wash as per the type of fabric. And, this
                washing machine's 90°C self-cleaning function helps in removing
                odour as well as microorganisms. The large door of this washing
                machine allows easy loading of your laundry. Moreover, this
                washing machine's high-speed operation helps thoroughly remove
                excess moisture from your clothes, which means that it won't
                require you to dry them on the clothesline for too long.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- rating -->
      <div *ngIf="review" _ngcontent-jar-c145="" class="nav-content">
        <div _ngcontent-jar-c145="" class="row mb-2 mb-lg-3">
          <div _ngcontent-jar-c145="" class="col-lg-4">
            <div _ngcontent-jar-c145="" class="rating">
              <h1 _ngcontent-jar-c145="">{{ productDetils.ratings }}</h1>
              <span
                _ngcontent-jar-c145=""
                class="fa fa-star checked"
                aria-hidden="true"
              ></span>
            </div>
            <h5 _ngcontent-jar-c145="" class="reviewtext">
              (400 Ratings &amp; 300 Reviews)
            </h5>
            <div _ngcontent-jar-c145="" class="rating-bar">
              <div _ngcontent-jar-c145="" class="bar-star">
                <h6 _ngcontent-jar-c145="">5</h6>
                <ion-icon
                  _ngcontent-jar-c145=""
                  name="star"
                  class="ratingstar checked"
                  ng-reflect-name="share-social-outline"
                  aria-label="share social outline"
                  role="img"
                ></ion-icon>
                <div
                  _ngcontent-jar-c145=""
                  class="progress"
                  style="height: 10px; width: 300px"
                >
                  <div
                    _ngcontent-jar-c145=""
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    class="progress-bar"
                    style="width: 0%"
                  ></div>
                </div>
              </div>
            </div>
            <div _ngcontent-jar-c145="" class="rating-bar">
              <div _ngcontent-jar-c145="" class="bar-star">
                <h6 _ngcontent-jar-c145="">4</h6>
                <ion-icon
                  _ngcontent-jar-c145=""
                  name="star"
                  class="ratingstar checked"
                  ng-reflect-name="share-social-outline"
                  aria-label="share social outline"
                  role="img"
                ></ion-icon>
                <div
                  _ngcontent-jar-c145=""
                  class="progress"
                  style="height: 10px; width: 300px"
                >
                  <div
                    _ngcontent-jar-c145=""
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    class="progress-bar"
                    style="width: 0%"
                  ></div>
                </div>
              </div>
            </div>
            <div _ngcontent-jar-c145="" class="rating-bar">
              <div _ngcontent-jar-c145="" class="bar-star">
                <h6 _ngcontent-jar-c145="">3</h6>
                <ion-icon
                  _ngcontent-jar-c145=""
                  name="star"
                  class="ratingstar checked"
                  ng-reflect-name="share-social-outline"
                  aria-label="share social outline"
                  role="img"
                ></ion-icon>
                <div
                  _ngcontent-jar-c145=""
                  class="progress"
                  style="height: 10px; width: 300px"
                >
                  <div
                    _ngcontent-jar-c145=""
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    class="progress-bar"
                    style="width: 0%"
                  ></div>
                </div>
              </div>
            </div>
            <div _ngcontent-jar-c145="" class="rating-bar">
              <div _ngcontent-jar-c145="" class="bar-star">
                <h6 _ngcontent-jar-c145="">2</h6>
                <ion-icon
                  _ngcontent-jar-c145=""
                  name="star"
                  class="ratingstar checked"
                  ng-reflect-name="share-social-outline"
                  aria-label="share social outline"
                  role="img"
                ></ion-icon>
                <div
                  _ngcontent-jar-c145=""
                  class="progress"
                  style="height: 10px; width: 300px"
                >
                  <div
                    _ngcontent-jar-c145=""
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    class="progress-bar"
                    style="width: 0%"
                  ></div>
                </div>
              </div>
            </div>
            <div _ngcontent-jar-c145="" class="rating-bar">
              <div _ngcontent-jar-c145="" class="bar-star">
                <h6 _ngcontent-jar-c145="">1</h6>
                <ion-icon
                  _ngcontent-jar-c145=""
                  name="star"
                  class="ratingstar checked"
                  ng-reflect-name="share-social-outline"
                  aria-label="share social outline"
                  role="img"
                ></ion-icon>
                <div
                  _ngcontent-jar-c145=""
                  class="progress"
                  style="height: 10px; width: 200px"
                >
                  <div
                    _ngcontent-jar-c145=""
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    class="progress-bar"
                    style="width: 0%"
                  ></div>
                </div>
              </div>
            </div>
            <button
              _ngcontent-jar-c145=""
              type="button"
              style="width: 100%"
              class="add-to-cart btn btn-secondary w-100 mt-4"
            >
              RATE NOW
            </button>
          </div>
          <div _ngcontent-jar-c145="" class="col-lg-8">
            <div _ngcontent-jar-c145="" class="right-testimonial">
              <div
                _ngcontent-jar-c145=""
                class="testimonialcard"
                *ngFor="let obj of productDetils.review"
              >
                <div _ngcontent-jar-c145="" class="head-test">
                  <div _ngcontent-jar-c145="" class="stars">
                    <h6 _ngcontent-jar-c145="">2</h6>
                    <span
                      _ngcontent-jar-c145=""
                      class="fa fa-star checked"
                      aria-hidden="true"
                    ></span>
                  </div>
                  <h4 _ngcontent-jar-c145="">
                    <span _ngcontent-jar-c145="">"</span> Value For Money
                    <span _ngcontent-jar-c145="">"</span>
                  </h4>
                </div>
                <h6 _ngcontent-jar-c145="">
                  {{ obj.review }}
                </h6>
                <h5 _ngcontent-jar-c145="">
                  <!-- Buyer : Subham Biswas ,<span _ngcontent-jar-c145=""
                  >22nd July</span
                > -->
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- compare -->
      <div *ngIf="comapre" _ngcontent-myo-c145="" class="nav-content">
        <ion-row _ngcontent-myo-c145="" class="md hydrated"
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="border-right padding-left b-buttom md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
          >
            <h5 _ngcontent-myo-c145="">Compare Items</h5> </ion-col
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="border-right padding-left b-buttom md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
            ><img
              _ngcontent-myo-c145=""
              src="{{
                productDetils.similar_products[0].full_default_product_image
              }}"
              alt="Product 1"
              class="default"
              style="height: 200px"
            />
            <h3 _ngcontent-myo-c145="">
              {{ productDetils.similar_products[0].product_name }}
            </h3>
            <div _ngcontent-myo-c145="" class="flex">
              <h4 _ngcontent-myo-c145="">
                ₹ {{ productDetils.similar_products[0].offer_price }}
              </h4>
              <ion-icon
                _ngcontent-myo-c145=""
                name="trash-outline"
                ng-reflect-name="trash-outline"
                aria-label="trash outline"
                role="img"
                class="md hydrated"
              ></ion-icon>
            </div> </ion-col
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="border-right padding-left b-buttom md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
            ><img
              _ngcontent-myo-c145=""
              src="{{
                productDetils.similar_products[1].full_default_product_image
              }}"
              alt="Pure Garment Dyed Cotton Shirt"
              class="default"
            />
            <h3 _ngcontent-myo-c145="">
              {{ productDetils.similar_products[1].product_name }}
            </h3>
            <div _ngcontent-myo-c145="" class="flex">
              <h4 _ngcontent-myo-c145="">
                ₹ {{ productDetils.similar_products[1].offer_price }}
              </h4>
              <ion-icon
                _ngcontent-myo-c145=""
                name="trash-outline"
                ng-reflect-name="trash-outline"
                aria-label="trash outline"
                role="img"
                class="md hydrated"
              ></ion-icon>
            </div> </ion-col
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="padding-left b-buttom md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
            ><img
              _ngcontent-myo-c145=""
              src="{{
                productDetils.similar_products[2].full_default_product_image
              }}"
              alt="Pure Garment Dyed Cotton Shirt"
              class="default"
            />
            <h3 _ngcontent-myo-c145="">
              {{ productDetils.similar_products[2].product_name }}
            </h3>
            <div _ngcontent-myo-c145="" class="flex">
              <h4 _ngcontent-myo-c145="">
                ₹ {{ productDetils.similar_products[2].offer_price }}
              </h4>
              <ion-icon
                _ngcontent-myo-c145=""
                name="trash-outline"
                ng-reflect-name="trash-outline"
                aria-label="trash outline"
                role="img"
                class="md hydrated"
              ></ion-icon>
            </div> </ion-col
        ></ion-row>
        <ion-row _ngcontent-myo-c145="" class="md hydrated"
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="border-right padding-left md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
          >
            <h6 _ngcontent-myo-c145="" class="bold-subhead">
              Availability
            </h6> </ion-col
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="border-right padding-left md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
          >
            <h6 _ngcontent-myo-c145="">Stock Available</h6> </ion-col
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="border-right padding-left md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
          >
            <h6 _ngcontent-myo-c145="">Stock Available</h6> </ion-col
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="padding-left md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
          >
            <h6 _ngcontent-myo-c145="">Stock Available</h6>
          </ion-col></ion-row
        ><ion-row _ngcontent-myo-c145="" class="md hydrated"
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="border-right padding-left md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
          >
            <h6 _ngcontent-myo-c145="" class="bold-subhead">
              Key features
            </h6> </ion-col
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="border-right padding-left md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
          >
            <h6 _ngcontent-myo-c145="">
              Fully Automatic Front Load Washing Machines have Great Wash
              Quality with very less running cost 1200 rpm : Higher the spin
              speed, lower the drying time 5 Star Rating 6.5 kg 3 Years on
              Product and 10 Years Warranty on Motor
            </h6> </ion-col
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="border-right padding-left md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
          >
            <h6 _ngcontent-myo-c145="">
              Fully Automatic Front Load Washing Machines have Great Wash
              Quality with very less running cost 1200 rpm : Higher the spin
              speed, lower the drying time Number of wash programs - 16 Large
              LED Display
            </h6> </ion-col
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="padding-left md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
          >
            <h6 _ngcontent-myo-c145="">
              Diamond Drum Digital Inverter Technology 23 years VDE Assurance
            </h6>
          </ion-col></ion-row
        ><ion-row _ngcontent-myo-c145="" class="md hydrated"
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="border-right padding-left md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
          >
            <h6 _ngcontent-myo-c145="" class="bold-subhead">
              {{ productDetils.similar_products[0].brand_name }}
            </h6> </ion-col
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="border-right padding-left md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
          >
            <h6 _ngcontent-myo-c145="">
              {{ productDetils.similar_products[1].brand_name }}
            </h6> </ion-col
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="border-right padding-left md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
          >
            <h6 _ngcontent-myo-c145="">
              {{ productDetils.similar_products[2].brand_name }}
            </h6> </ion-col
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="padding-left md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
          >
            <h6 _ngcontent-myo-c145="">Samsung</h6>
          </ion-col></ion-row
        ><ion-row _ngcontent-myo-c145="" class="md hydrated"
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="border-right padding-left md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
          ></ion-col
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="border-right padding-left md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
            ><button
              _ngcontent-myo-c145=""
              type="button"
              class="add-to-cart btn btn-secondary w-100"
            >
              BUY NOW
            </button></ion-col
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="border-right padding-left md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
            ><button
              _ngcontent-myo-c145=""
              type="button"
              class="add-to-cart btn btn-secondary w-100"
            >
              BUY NOW
            </button></ion-col
          ><ion-col
            _ngcontent-myo-c145=""
            size="12"
            size-md="3"
            class="padding-left md hydrated"
            ng-reflect-size="12"
            style="
              flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
              max-width: calc(calc(3 / var(--ion-grid-columns, 12)) * 100%);
            "
            ><button
              _ngcontent-myo-c145=""
              type="button"
              class="add-to-cart btn btn-secondary w-100"
            >
              BUY NOW
            </button></ion-col
          ></ion-row
        >
      </div>
    </div>
    <!-- similer product -->
    <div style="margin-top: -30px" _ngcontent-dag-c150="" class="container">
      <h2 _ngcontent-dag-c150="" class="title">
        <span _ngcontent-dag-c150="">Similer</span> Products
      </h2>
    </div>
    <div _ngcontent-dod-c150="" class="product-container">
      <div _ngcontent-dod-c150="" class="container">
        <div _ngcontent-dod-c150="" class="product-box">
          <div class="row">
            <div class="column" id="column2">
              <owl-carousel-o [options]="featurediscount">
                <ng-template
                  carouselSlide
                  *ngFor="
                    let obj of productDetils.similar_products;
                    let i = index
                  "
                >
                  <div class="item">
                    <div
                      class="product-card"
                      style="margin: 5px; background-color: white"
                    >
                      <div class="product-item-inner">
                        <div class="product-item-body">
                          <div class="product-add-on">
                            <div class="product-coupon"></div>
                            <div class="product-addon-btn">
                              <button class="quick-view optacity-0">
                                <i class="bi bi-eye"></i>
                              </button>
                              <button
                                *ngIf="obj.is_wishlist == '1'"
                                [style]="{ color: 'red' }"
                                (click)="addtowishlist(obj.id, i, 'fp')"
                                class="wishlist-btn"
                                data-id="1028"
                              ></button>
                              <button
                                *ngIf="obj.is_wishlist == '0'"
                                (click)="addtowishlist(obj.id, i, 'fp')"
                                class="wishlist-btn"
                                data-id="1028"
                              ></button>
                            </div>
                          </div>
                          <a
                            ><div class="product-img">
                              <img
                                (click)="routePath(obj)"
                                class="img-fluid owl-lazy"
                                src="{{ obj.full_default_product_image }}"
                                data-src="{{ obj.full_default_product_image }}"
                                alt=""
                                style="opacity: 1"
                              />
                            </div>
                          </a>
                          <a class="product-title" (click)="routePath(obj)">
                            <div class="truncate">
                              {{ obj.product_name }}
                            </div></a
                          >
                          <div class="price-label">Our Price</div>
                          <div class="product-price-box">
                            <h6 class="product-price">
                              ₹ {{ obj.offer_price }}
                            </h6>
                            <span class="dis-per-sm ml-2">
                              {{ discountPer(obj.mrp_price, obj.offer_price) }}%
                              off</span
                            >
                            <div class="product-discount">
                              MRP <del>₹ {{ obj.mrp_price }}</del>
                            </div>
                          </div>
                        </div>
                        <div class="product-item-footer">
                          <div class="d-flex justify-content-between">
                            <button
                              class="product-compare add-compare"
                              data-compare-id="1885"
                            ></button
                            ><button
                              (click)="addtocart(obj)"
                              class="product-cart-btn add-cart"
                              data-id="1885"
                            >
                              Add Cart
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- shop by brands -->
    <div _ngcontent-dag-c150="" class="container">
      <h2 _ngcontent-dag-c150="" class="title">
        <span _ngcontent-dag-c150="">Shop By</span> Brands
      </h2>
    </div>
    <div style="margin-top: -30px" _ngcontent-dag-c150="" class="container">
      <div
        _ngcontent-dag-c150=""
        class="banner-container"
        style="margin-top: 3%"
      >
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let obj of brandsData"
            ><img
              src="{{ obj.full_brand_image }}"
              alt="Image 1"
              style="height: 120px; width: 120px; border-radius: 50%"
            />
            <h1 style="text-align: center; font-size: small">
              {{ obj.brand_name }}
            </h1>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
